{% extends "base.html" %}

{% block title %}Добавить новую задачу{% endblock %}

{% block content %}
<h2>➕ Добавить новую задачу</h2>

<form method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Название задачи</label>
        <input type="text" name="title" id="title" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Описание (опционально)</label>
        <textarea name="description" id="description" rows="3" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label for="status_id" class="form-label">Статус</label>
        <select name="status_id" id="status_id" class="form-select" required>
            {% for status in statuses %}
                <option value="{{ status.id }}">{{ status.name }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Метки -->
    <div class="mb-3">
        <label for="label_ids" class="form-label">Метки</label>
        <select name="label_ids" id="label_ids" class="form-select" multiple>
            {% for label in all_labels %}
                <option value="{{ label.id }}">{{ label.name }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-success">Добавить задачу</button>
</form>

<a href="/board" class="btn btn-secondary mt-3">← На доску</a>
{% endblock %}
